/* Reset bootstrap */

.btn:focus {
  outline: none;
  box-shadow: none;
}

.table {
  border-collapse: separate;
  border-spacing: 0;
}

/* Element styles */

body {
  background: #d3d3d3;
}

input {
  width: 100%;
  padding: 6px 15px;
  border: 1px solid #d3d3d3;
  border-radius: 10px;
}

/* Class styles */

.wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.todo-wrapper {
  border: 1px solid #a8a8a8;
  border-radius: 10px;
  background: #fff;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  height: 70vh;
  width: 40vw;
  max-width: 40vw;
  overflow: hidden;
}

.todo-wrapper:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.todo-header {
  border-bottom: 1px solid #d3d3d3;
  padding-bottom: 10px;
  margin: 0;
}

.todo-body {
  padding-top: 20px;
}

.todo-input {
  display: flex;
}

.todo-input button {
  margin-left: 10px;
}

.todo-search-wrapper {
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 25px 0 5px;
}

.todo-search-wrapper input {
  width: 35%;
}

.action-cell {
  width: 185px;
}

.table-fixed-header {
  overflow-y: auto;
  max-height: calc(70vh - 217px);
}

.table-fixed-header thead th {
  position: sticky;
  top: 0;
  z-index: 1;
  background: white;
}

.no-records {
  font-size: 14px;
  color: #a8a8a8;
}
